/* =================================
				LAYOUT 
   ================================= */
.container {
	width: 960px;
	margin: 0 auto;
}

.row:after{
	content: "";
	clear: both;
	display: block;
}

.row>[class*="col"] {
	float: left;
	padding: 0 10px;
}

.row>[class*="col"]:first-child {
	padding-left: 0;
}

.row>[class*="col"]:last-child {
	padding-right: 0;
}

.col3 {width: 25%;}
.col4 {width: 33.3%; }
.col9 {width: 75%;}
.col6 {width: 50%;}
.col12 {width: 100%;}

.third:nth-child(3n) {
	margin-right: 0;
}
.third:nth-child(3n+1) {
	margin-left: 0;
}

.col3:nth-child(n+4) {
	margin-right: 0;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

/* =================================
				COMMON
   ================================= */
body {
	font-family: 'PT Sans', sans-serif;
}
div, ul, li, p, h1, h2, h3, span, input, textarea, 
aside {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.button {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	padding: 14px 15px;
	background-color: #ffcd34;
	border: none;
	outline: none;
}

.button:hover {
  background-color: #ffe184;
}

.dark {
	background-color: #2c3f51;
	color: #FFF
}

.stripes {
	display: block;
	width: 100%;
	height: 20px;
	background-image: linear-gradient(135deg, #fabe1f 35%,black 35%,black 65%,#fabe1f 65%);
	-webkit-background-size: 35px 20px;
	background-size: 35px 20px;
}

/* =================================
				HEADER
   ================================= */
.page-header {
	background-color: #ffcd34;
	padding: 15px 0;
}

.page-header__logo {
	vertical-align: middle;
	font-size: 24px;
	text-decoration: none;
	font-weight: normal; 
	color: #000;
	float: left;
	line-height: 50px;
}

.page-header__logo-img {
	vertical-align: middle;
}

.page-header__logo-img span {
	vertical-align: middle;
}

.page-header__logo-name {
	vertical-align: middle;
}

.page-header__logo-name-bold {
	vertical-align: middle;
	font-weight: bold;
}

.page-header__nav-list {
	list-style-type: none;
	text-align: right;
	font-size: 17px;
}

.page-header__nav-list-item {
	display: inline-block;
	text-align: center;
}

.page-header__nav-list-item-link {
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
	color: #000;
}

.page-header__nav-list-item-link--selected, 
.page-header__nav-list-item-link:hover {
	background-color: #ffe184;
}


/* =================================
				SUBHEADER
   ================================= */
.subheader {
	background-image: url(../img/bg-truck-mini.jpg);
	background-size: cover;
	padding: 40px 0;
}

.subheader-breadcrumbs {
	line-height: 50px;
}

.subheader-breadcrumbs-item {
	list-style-type: none;
	display: inline-block;
}
.subheader-breadcrumbs-separator,
.subheader-breadcrumbs-link {
	font-size: 24px;
	color: #ffcd34;
}
.subheader-breadcrumbs-link--active {
	font-size: 24px;
	color: #ffcd34;
	text-decoration: none;
}

/* =================================
				TEAM
   ================================= */
.page-content {
	background-color: #f3f3f3;
}

.sales-text {
	padding: 25px 0;
	margin: 0;
	font-size: 22px;
	line-height: 30px;
}

.team-section {
	margin-bottom: 25px;
	background-color: #fff;
	padding: 10px 40px 40px 40px;
}

.team-section-title {
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px solid #d9d9d9;
	margin-top: 20px;
	display: inline-block;
}

.people-list {
	margin-top: 20px;
}

.people-card {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	color: #c7c7c7;
	font-size: 15px;
	font-weight: bold;
	width: 19.5%;
}

.people-card img {
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 20px;
	width: 140px;
	height: 140px;
}

.people-card p {
	text-align: left;
}

/* =================================
				RESUME
   ================================= */
.resume {
	background-color: #202e3b;
	padding-top: 35px;
	padding-bottom: 40px;
}

.resume p {
	margin-bottom: 35px;
	font-size: 24px;
	color: #ffcd34;
}

.resume input[type="text"], 
.resume select {
	font-size: 18px;
	background-color: #202e3b;
	color: #fff;
	border: 1px solid #ffcd34;
	padding-left: 15px;
	width: 100%;
	outline: none;
	height: 50px;
}
.resume select {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100%;
  color: #c7c7c7;
}

/* =================================
				ORDER
   ================================= */
.order {
	background-color: #202e3b;
	padding-top: 35px;
	padding-bottom: 40px;
}

.order__text {
	margin-bottom: 35px;
	font-size: 24px;
	color: #ffcd34;
}

.order__form {
	font-size: 18px;
	background-color: #202e3b;
	color: #fff;
	border: 1px solid #ffcd34;
	padding-left: 15px;
	height: 50px;
	width: 100%;
}
.order__form-select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    width: 100%;
    color: #c7c7c7;
}
.order__form-button {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	padding: 13px 15px;
	background-color: #ffcd34;
	border: none;
	outline: none;
	width: 100%;
}
.order__form-button:hover {
  background-color: #ffe184;
}
/* =================================
				FOOTER
   ================================= */
.page-footer {
	background-color: #202e3b;
	padding: 15px 0;
}

.page-footer__logo {
	vertical-align: middle;
	font-size: 24px;
	text-decoration: none;
	font-weight: normal; 
	color: #ffcd34;
	float: left;
	line-height: 50px;
}

.page-footer__logo-img {
	vertical-align: middle;
}

.page-footer__logo-img span {
	vertical-align: middle;
}

.page-footer__logo-name-bold {
	font-weight: bold;
	vertical-align: middle;
}

.page-footer__logo-name {
	vertical-align: middle;
}

.page-footer__nav-list {
	list-style-type: none;
	text-align: right;
	font-size: 17px;
}

.page-footer__nav-list-item {
	display: inline-block;
	text-align: center;
}

.page-footer__nav-list-item-link {
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
	color: #FFF;
}

.page-footer__nav-list-item-link--selected, 
.page-footer__nav-list-item-link:hover {
	color: #ffcd34
}


/* =================================
							PROMO BLOCK
   ================================= */
.promo {
	background: url("../img/bgc-truck.jpg") no-repeat scroll;
	/* For Chrome 39 version */
	-moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: cover; /* Современные браузеры */
}
.promo__content {
	margin-top: 90px;
	margin-bottom: 90px;
	background-color: rgba(23, 32, 43, 0.7);
	color: #FFF;
	display: inline-block;
	padding: 26px 30px;
	width: 315px;
}
.promo__content-title {
	color: #fabe1f;
	font-size: 24px;
	margin: 0;
	text-transform: uppercase;
}
.promo__content-text {
	font-size: 14px;
	margin-bottom: 20px;
}

.promo__content-btn {
	display: inline-block;
	background-color: #ffcc33;
	padding: 15px 0 15px 15px;
	color: #000;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}

.promo__content-btn:hover {
  background-color: #ffe184;
}

.arrow:after {
	content: '';
	display: inline-block;
	background: url("../img/arrow.png") no-repeat;
	width: 15px;
	height: 20px;
	vertical-align: middle;
	margin: auto 10px auto 10px;
}

/* =================================
		   ADVANTAGES BLOCK
   ================================= */
.advantages {
	margin: 35px 0;
}
.advantages__item {
	float: left;
	margin-left: 5px;
	margin-right: 15px;
	width: 225px;
}
.advantages__item img {
	float: left;
	max-width: 50px;
	max-height: 50px;
	min-height: 40px;
	min-width: 30px;
	padding-right: 10px;
}
.advantages__item-text {
	font-size: 13px;
	padding-left: 60px;
}

/* =================================
		   OUR TEAM BLOCK
   ================================= */
.somit-team {
	background-color: #f3f3f3;
	margin-top: 0;
}
.somit-team__text {
	padding: 35px 0;
	margin: 0;
	line-height: 30px;
	font-size: 22px;
}
.somit-team ul {
	list-style-type: none;
	padding-left: 0;
}
.somit-team li a {
	color: #000;
	font-size: 18px;
	line-height: 52px;
}
.side-title {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
}
.somit-team .number>span {
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 25px;
}
.somit-team-catalog {
	overflow: auto;
}
.somit-team-catalog .row {
	margin-bottom: 20px;
}
.numbers {
	border: 1px solid #ffcd34;
	overflow: hidden;
	vertical-align: top;
}
.numbers .col3{
	padding: 20px 0;
}
.item-number {
	border-right: 2px dashed #9e9e9e;
	text-align: center;
}
.numbers .col3:last-child .item-number{
	border-right: none;
}
.item-number-counter {
	color: #f1b132;
	font-size: 44px;
	font-weight: bold;
}
.item-number-description {
	color: #9e9e9e;
	font-size: 15px;
}
.our-team {
	margin-top: 17px;
}
.our-team span {
	display: inline-block;
	font-size: 30px;
	margin-bottom: 25px;
}
.our-team ul {
	background-color: #FFF;
	margin: 0;
	overflow: hidden;
	padding: 1%;
}
.people li {
	display: inline-block;
	margin-right: 2%;
	padding: 5px 5px;
	vertical-align: middle;
	width: 14%;
}
.people li:last-child {
	margin-right: 2%;
}
.people img {
	border-radius: 50px;
	height: 100px;
	width: 100px;
}


/* =================================
		   REVIEWS BLOCK
   ================================= */
.reviews .row {
	margin-top: 10px;
	padding: 50px 0;
}
.reviews__item {
	float: left;
	font-style: italic;
	font-size: 18px;
	width: 50%;
}
.reviews__item img {
	border-radius: 100px;
	float: left;
	width: 100px;
	margin-right: 28px;	
}
.reviews__item-text {
	vertical-align: top;
	padding-left: 130px;
}


/* =================================
		   PORTFOLIO_CONTENT
   ================================= */   
.portfolio_menu {
	list-style-type: none;
}
.portfolio_menu li {
	display: inline-block;
	margin-left: 30px;
}
.portfolio_menu a {
	color: #FFF;
	font-size: 17px;
	padding: 15px 0;
	display: inline-block;
}
.somit-consult {
	background-image: url(../img/bg-consult.jpg);
	background-size: cover;
}
.consult {
	padding: 100px 0;
	margin-bottom: 10px;
}
.select-section {
	width: 323px;
	padding: 20px 30px;
	background-color: rgba(184, 213, 241, 0.5);
}
.select-section-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px;
}

.select-section p {
	font-size: 14px;
	color: #202e3b;
}

.select-section a {
	margin-bottom: 20px;
	margin-top: 20px;
}

.portfolio-input {
	width: 220px;
}

/* =================================
		   CONTACTS
   ================================= */ 
 .contacts {
  background-color: #f3f3f3;
  padding: 40px 0;
 }
 .contacts__connect {
 	font-weight: bold;
 	font-size: 18px;
 }
 .contacts__connect img {
 	margin-right: 20px;
 }
 .contacts__connect-telephone, 
 .contacts__connect-email {
 	margin-bottom: 20px;
 }
 .map {
 	width: 640px;
 	float: left;
 }
 .contacts__order-consult p {
 	font-size: 18px;
 	font-weight: bold;
 	margin-bottom: 40px;
 }
.contact-aside {
	float: left;
	padding-left: 20px;
	width: 320px;
}

.contacts__order-consult input, 
.contacts__order-consult textarea {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	font-size: 20px;
	color: #000;
	outline: none;
	border: 2px solid #202e3b;
  padding-left: 10px;
  resize: vertical;
}

.contacts__order-consult input {
	height: 40px;
}

.contacts__order-consult input[type=submit] {
	border: none;
	background-color: #ccc;
}

/* =================================
		   CATALOG
   ================================= */ 
.sale-item {
	background-color: #FFF;
	padding: 15px;
	text-align: center;
}
.sale-item-text {
	text-align: left;
}
.sale-item img {
	width: 240px;
	height: 220px;
}
.price {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin-top: 15px;
	text-align: left;
}
.price-money {
	font-size: 27px;
}
.button-group {
	margin-top: 15px;
}
.button-rent {
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	color: #FFF;
	padding: 14px 22px;
	background-color: #ffcd34;
	border: none;
	outline: none;
}
.button-description {
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	padding: 14px 22px;
	border: none;
	outline: none;
	background-color: #2c3f51;
	color: #FFF
}
.button-rent:hover {
	background-color: #ffe184;
	color: #000;
}
.button-description:hover {
	background-color: #ffe184;
	color: #000;
}
.catalog__menu {
	border: 2px dashed black;
	padding-left: 30px;
	padding-top: 20px;
}
.catalog__menu-title {
	font-size: 30px;
	font-weight: bold;
}